<nav class="navbar">
    <div class="navbar-container">
        <div class="logo">Mero BLog</div>
        <ul class="nav-links">
            <li><a href="./" class="active">Home</a></li>
            <li><a href="./createpost">CreatePost</a></li>
            <li><a href="./dashboard">dashboard</a></li>
            <li><a href="./login">login</a></li>
        </ul>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</nav>